<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
<div th:replace="fragments.html::navigation-bar"></div>
<div class="alert alert-warning" role="alert" th:if="${ (#authentication.principal != 'anonymousUser') && (#authentication.principal.account.isValid) == false }">
  Futurevia 가입을 위해 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<div class="container">
  <div class="py-5 text-center">
    <h2>Futurevia</h2>
  </div>
  <div th:replace="fragments.html::footer"></div>
</div>

<script type="application/javascript">
  (function () {

  }())
</script>
</body>
</html>